* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
select {
    border: none;
    outline: none;
    padding: .625rem;
    font-size: 1rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

.flex {
    display: flex;
}

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 2000;
    /* stays above everything */
    transition: transform 0.3s ease;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

.whatsapp-float img {
    width: 35px;
    height: 35px;
}
